body {
    background-image: url('../Images/Winter.jpg');
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: #283048;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Copperplate;
    margin-top: 25px;
}
